{%extends "CG_app/base.html"%}
{%load static%}

{%block content%}

{% if "exito" in request.GET %}
      
<div class="divGraciasEnviar">
 <p class="graciasPorEnviar">¡Gracias por enviar tus datos!</p> 
</div>

{% endif %}


<div class="divPonte">
<p class="ponteEn">¿Tienes alguna duda o comentario?<br>contáctanos</p>
</div>
  <div class="divf">
  <form class="formCon" action="" method="POST">
      
      {% csrf_token %}
    <table class="conttable">{{mi_formulario}}</table>
  <div class="divBo">
    <input class="formBoton" type="submit" value="Enviar">
  </div>
  </form>
</div> 

{%endblock%}

