{%extends "CG_app/base.html"%}

{%load static%}

{%block content%}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'CG_app/img/principal.png'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper" style="font-family: 'Dancing Script', cursive;">Gracias por visitarnos</span>
            <span class="section-heading-lower" style="font-family: 'Dancing Script', cursive;">Paraiso Gaming</span>
          </h2>
          <p class="mb-3" style="text-shadow: 0 0 2px white;">¡construimos el setup de tus sueños!
          </p>
        </div>
      </div>
    </div>
  </section>  
  
  
    
<div class="divComuni">
   <h2 class="uneteHomeNeon">✪¡Únete a nuestra comunidad!✪</h2>
     <div class="somosUnete">
       <h5 class="subUneteHome">Somos una comunidad de jugadores apasionados</h5>
  </div>
  </di>
    <div class="minecra">
      <img src="{%static 'CG_app/img/minec.png'%}" alt="">
        </div>
         <div class="clickfon">
          </div>
<section class="cont flex text-center">
    <div class="columna links">
    <p class="linksFlecha">⬇links⬇</p> 
    <p class="titulink">Discord</p>
    <p class="links">
    <a target="_blank" href="https://discord.gg/ywra5cTTKw">
      <img src="{%static 'CG_app/img/logoDiscord.png'%}" alt="" width="200" height="140">
    </a>
    </p>
    <p class="titulink">Youtube</p> 
    <p class="links">
    <a target="_blank" href="https://www.youtube.com/channel/UCQCxlF2xa6rScqSXzBM6pgw">
      <img src="{%static 'CG_app/img/logoYoutube.png'%}" alt="" width="200" height="130">
    </a>
    </p>
    </div>
    <div class="columna vid">
       <p><iframe width="560" height="315" src="https://www.youtube.com/embed/aMH8iq8y8Ts" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    </div>
</section> 
  
 


    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper" style="font-family: 'Raleway';">Compromiso total</span>
                <span class="section-heading-lower" style="font-family: 'Raleway';">Garantizado</span>
              </h2>
              <p class="mb-0" style="font-family: 'Raleway';">Con un equipo de trabajo comprometidos para garantizar que tu experiencia en nuestra página sea la mejor, y velaremos por la seguridad de su producto hasta que llegue a la puerta de su hogar, y pueda disfrutar de sus títulos favoritos sin salir de la comodidad de su casa.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <p style="color: rgb(255, 255, 255); font-family: 'Raleway'; text-align: center; text-shadow: 0 0 1.7rem rgb(255, 255, 255);">Creadores de las imágenes background</p>
    <div style="background-color: rgba(0, 0, 0, 0.319) ;">
      <a href='https://www.freepik.es/fotos/reparacion-pc'>Foto de reparacion de pc creado por jcomp - www.freepik.es</a>
      <a href="https://www.freepik.es/fotos/telemarketing">Foto de telemarketing creado por Racool_studio - www.freepik.es</a>
      <a href="https://www.freepik.es/fotos/juegos-virtuales">Foto de juegos virtuales creado por DCStudio - www.freepik.es</a>
      <a href="https://www.freepik.es/fotos/chica-gamer">Foto de chica gamer creado por DCStudio - www.freepik.es</a>
    </div>

{%endblock%}
    
